
#esP1 {
    color: rgb(233, 76, 14);

}

#esP2 {
    color: rgb(21, 5, 114);
    text-align: center;
}

.son_Div {
    color: rgb(29, 114, 226);
    text-align: center;
}

.son_Div p {
    color: rgb(255, 124, 2);
    text-align: left;
}