
@keyframes aparecerysubir {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tarjeta {
    animation-name: aparecerysubir;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    text-align: center;
}